<script setup>

</script>

<template>

  <div class="navbar">
    <h1>Navbar</h1>
    <!-- Show this link only when on the '/' path -->
    <RouterLink v-if="$route.path === '/'" to="/create">Go to Create</RouterLink>

    <!-- Show this link only when on the '/create' path -->
    <RouterLink v-else to="/">Go to Home</RouterLink>
  </div>

  <div class="content">

    <RouterView />
  </div>
</template>

<style scoped>

.navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}

.content {
  margin-top: 60px; /* Adjust this value to avoid content being hidden behind the navbar */
  padding: 20px;
}

</style>
