<script setup>
import PersonEntry from "@/components/PersonEntry.vue";

const props = defineProps({
  persons: Array,
  require: true
})

const emit = defineEmits(['deleteEntry', 'editEntry'])

function emitDeleteEntry (index) {
  emit("deleteEntry", index)
}

function emitEditEntry(index) {
  emit("editEntry", index)
}

</script>

<template>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Alter</th>
      <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <PersonEntry
        v-for="(person, index) in persons"
        :person="person"
        @delete-person="emitDeleteEntry(index)"
        @edit-person="emitEditEntry(index)"
    />
    </tbody>
  </table>
</template>

<style scoped>

</style>