<script>
import {ref} from 'vue';

export default {
  name: 'App',
  setup() {
    const personArray = ref([]);
    const vornameInput = ref('');
    const nachnameInput = ref('');
    const geburtsjahrInput = ref(null);
    const currentYear = new Date().getFullYear();

    const addPerson = () => {
      personArray.value.push({
        vorname: vornameInput.value,
        nachname: nachnameInput.value,
        geburtsjahr: geburtsjahrInput.value
      });
      // Setback table
      vornameInput.value = '';
      nachnameInput.value = '';
      geburtsjahrInput.value = null;
    };

    const calculateAge = (geburtsjahr) => {
      if (geburtsjahr && !isNaN(geburtsjahr)) {
        return currentYear - geburtsjahr;
      }
      return null;
    };

    const clearAll = () => {
      personArray.value = [];
    };

    const deleteLast = () => {
      if (personArray.value.length > 0) {
        personArray.value.pop();
      }
    };

    return {
      vornameInput,
      nachnameInput,
      geburtsjahrInput,
      personArray,
      addPerson,
      clearAll,
      deleteLast,
      calculateAge
    };
  }
};
</script>


<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-6 bg-light p-3 rounded">
          <h2 class="mt-4 mb-3">Person anlegen</h2>
          <form id="personForm">
            <div class="mb-3">
              <label for="firstName" class="form-label">Vorname</label>
              <input type="text" class="form-control" id="firstName" name="vorname"  v-model="vornameInput" required>
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label" >Nachname</label>
              <input type="text" class="form-control" id="lastName" name="nachname" v-model="nachnameInput" required>
            </div>
            <div class="mb-3">
              <label for="birthYear" class="form-label">Geburtsjahr</label>
              <input type="number" class="form-control" id="birthYear" name="geburtsjahr" v-model="geburtsjahrInput" required>
            </div>
            <button type="submit" class="btn btn-success" @click="addPerson">Hinzufügen</button>
          </form>
          <div class="row">
            <div class="col-md-12 mt-4 bg-light p-3 rounded">
              <h2 class="m-0">Aktion</h2>
              <br>
              <div class="mt-12 mb-3">
                <button class="btn btn-primary me-2">Sortieren nach Nachname</button>
                <button class="btn btn-primary">Sortieren nach Alter</button>
              </div>
              <div class="mt-12">
                <button class="btn btn-danger me-2" @click="deleteLast">Letztes Element löschen</button>
                <button class="btn btn-danger" @click="clearAll">Alles löschen</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>Alter</th>
            </tr>
            </thead>
            <tbody id="personTableBody">
            <tr v-for="(person, index) in personArray" :key="index">
              <td>{{ person.vorname }}</td>
              <td>{{ person.nachname }}</td>
              <td>{{ calculateAge(person.geburtsjahr) }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
