body {
    font-family: "Comic Sans MS", serif;
    background-color: yellowgreen;
    cursor: url('cursedCursor.png'), auto;
}
h1 {
    background-color: fuchsia;
    border-bottom: 18px solid lightseagreen;
    border-left:22px dotted lawngreen;
    color: #beffba;
}
h2 {
    background-color: #ffff01;
    border: 1px dotted red;
}
img {
    height: 80px;
    width: 300px;
}
span {
    background-color: crimson;
    color: chartreuse;
}
label {
    background-color: blueviolet;
    color: khaki;
}