<script setup>
import Navbar from "../components/Navbar.vue";
import BuyButton from "../components/BuyButton.vue";
</script>

<template v-slot:title>
  <Navbar></Navbar>
  <v-card v-slot:title
          class="mx-auto"
          width="400"
          prepend-icon="mdi-home"
  >
    Buy our delicious apple.
    <v-img src="src/images/apple.jpg" aspect-ratio="16/9"></v-img>
    <BuyButton></BuyButton>
    Milk. Is. Good.
    <v-img src="src/images/milk.jpg" aspect-ratio="16/9"></v-img>
    <BuyButton></BuyButton>
    Holy Bread.
    <v-img src="src/images/bread.jpg" aspect-ratio="16/9"></v-img>
    <BuyButton></BuyButton>
    <v-card-text>
      <BuyButton></BuyButton>
    </v-card-text>
  </v-card>
</template>
