<template>
  <v-form @submit.prevent="sendLoginData()">
    <v-container>
      <v-row>
        <v-col
            cols="12"
            md="6"
        >
          <v-text-field
              v-model="email"
              :rules="emailRules"
              label="E-mail"
              hide-details
              required
          ></v-text-field>
        </v-col>
        <v-col
            cols="12"
            md="6"
        >
          <v-text-field
              v-model="password"
              :rules="passwordRules"
              :counter="10"
              label="Password"
              hide-details
              required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-btn type="submit" block="" class="mt-2">Submit</v-btn>
    </v-container>
  </v-form>
</template>


<script setup>
import {ref} from "vue";
import {useAuthStore} from "@/stores/authStore";

const email = ref('')
const password = ref('')

const authStore = useAuthStore()

function sendLoginData(){

  const regData = {

    "email": email.value,
    "password": password.value,

  }
  console.log("register data:", regData);
  authStore.login(regData)
}

const emailRules = [
  value => {
    if(value) return true

    return 'E-mail is required.'
  },
  value => {
    if(/.+@.+\..+/.test(value)) return true

    return 'E-mail must be valid.'
  },
]
const passwordRules = [
  value => {
    if (value) return true

    return 'You must enter a password.'
  },
]
</script>

<style scoped>

</style>