<template>
  <v-sheet width="300" class="mx-auto">
    <v-form @submit.prevent="postProduct()">
      <v-text-field
          v-model="title"
          label="Title"
      ></v-text-field>
      <v-text-field
          v-model="description"
          label="Description"
      ></v-text-field>
      <v-text-field
          v-model="price"
          label="Price"
      ></v-text-field>
      <v-text-field
          v-model="imageUrl"
          label="Image Url"
      ></v-text-field>
      <v-btn type="submit" block="" class="mt-2">Submit</v-btn>
    </v-form>
  </v-sheet>
</template>

<script setup>
import {ref} from "vue";
import {useProductStore} from "@/stores/productStore";

const title = ref('')
const description = ref('')
const price = ref()
const imageUrl = ref('')

const productStore = useProductStore()

function postProduct(){

  const productData = {
    "title": title.value,
    "description": description.value,
    "price": parseInt(price.value),
    "imageUrl": imageUrl.value
  }
  console.log("product data:", productData)

  productStore.createNewProduct(productData)
}
</script>

<style scoped>

</style>