<template>
  <v-sheet width="300" class="mx-auto">
    <v-form @submit.prevent="sendRegData()">
      <v-text-field
          v-model="email"
          :rules="emailRules"
          label="Email"
      ></v-text-field>
      <v-text-field
          v-model="firstName"
          label="First name"
      ></v-text-field>
      <v-text-field
          v-model="lastName"
          label="Last name"
      ></v-text-field>
      <v-text-field
          v-model="password"
          :rules="passwordRules"
          label="Password"
      ></v-text-field>
      <v-text-field
          v-model="role"
          label="Role"
      ></v-text-field>
      <v-btn type="submit" block="" class="mt-2">Submit</v-btn>
    </v-form>
  </v-sheet>

</template>

<script setup>

import {ref} from "vue";
import {useAuthStore} from "@/stores/authStore";

const email = ref('')
const firstName = ref('')
const lastName = ref('')
const password = ref('')
const role = ref('admin')


const authStore = useAuthStore()

function sendRegData(){

  const regData = {

    "email": email.value,
    "firstName": firstName.value,
    "lastName": lastName.value,
    "password": password.value,
    "role": role.value

  }
  console.log("register data:", regData);

  authStore.register(regData)
}

const emailRules = [
  value => {
    if (value) return true

    return 'You must enter an email address.'
  },
]

const passwordRules = [
  value => {
    if (value) return true

    return 'You must enter a password.'
  },
]

</script>