<script setup>

const emit = defineEmits("closeDialogWindow")

function emitCloseDialog() {
  emit("closeDialogWindow")
}

</script>

<template>
  <div class="position-absolute top-50 start-50 translate-middle w-50 bg-body-secondary p-3 rounded">
    <button @click="emitCloseDialog" type="button" class="btn-close float-end" aria-label="Close"></button>
    <slot/>
  </div>
</template>

<style scoped>

/* Add custom styles for centering and positioning above other elements */
.position-absolute {
  position: absolute;
}

.top-50 {
  top: 50%;
}

.start-50 {
  left: 50%;
}

.translate-middle {
  transform: translate(-50%, -50%);
}


</style>