<script setup>
import {computed} from "vue";

const props = defineProps({
  person: Object,
  require: true
})

const personAge = computed(() => {
  return new Date().getFullYear() - props.person.birthYear
})

const emit = defineEmits(['delete-person', 'edit-person'])

function removeEntry() {
  emit("delete-person")
}

function editEntry() {
  emit("edit-person")
}

</script>

<template>
  <tr>
    <td>{{ person.firstName }}</td>
    <td>{{ person.lastName }}</td>
    <td>{{ personAge }}</td>
    <td>
      <button type="button" class="btn btn-warning" @click="editEntry">Bearbeiten</button>
      <button type="button" class="btn btn-danger" @click="removeEntry">Löschen</button>
    </td>
  </tr>
</template>

<style scoped>

</style>