<script setup>
import {ref, watch} from 'vue';

const firstName = ref('')
const lastName = ref('')
const birthYear = ref(null)

const emit = defineEmits(['add-new-person', 'edit-person'])

const props = defineProps({
  person: Object,
  title: String,
  require: true
})

watch(() => props.person, () => {
  if (props.person) {
    firstName.value = props.person.firstName;
    lastName.value = props.person.lastName;
    birthYear.value = props.person.birthYear;
  }
}, {immediate: true})


function savePersonChanges() {
  if (props.person) {

    const editedPerson = {
      firstName: firstName.value,
      lastName: lastName.value,
      birthYear: birthYear.value,
    }
    emit("edit-person", editedPerson)

  } else {

    const newPerson = {
      firstName: firstName.value,
      lastName: lastName.value,
      birthYear: birthYear.value,

    }

    firstName.value = ''
    lastName.value = ''
    birthYear.value = null
    emit('add-new-person', newPerson)
  }
}


</script>

<template>
  <form @submit.prevent="savePersonChanges" class="mb-4">
    <!--     <h3>{{ title }} bearbeiten</h3>-->
    <label class="d-block mb-3">
      <span class="form-label">Vorname</span>
      <input type="text" name="firstName" class="form-control" v-model="firstName" required>
    </label>
    <label class="d-block mb-3">
      <span class="form-label">Nachname</span>
      <input type="text" name="lastName" class="form-control" v-model="lastName" required>
    </label>
    <label class="d-block mb-3">
      <span class="form-label">Geburtsjahr</span>
      <input type="number" step="1" name="birthYear" class="form-control"
             v-model="birthYear" required>
    </label>
    <button type="submit" class="btn btn-success">Hinzufügen</button>
  </form>
</template>

<style scoped>

</style>