<script setup>
import PersonForm from "@/components/PersonForm.vue";
import {usePersonStore} from "@/stores/PersonStore";

const personStore = usePersonStore()

function addPersonToArray(newPerson) {
  personStore.persons.push(newPerson)
}

</script>

<template>
  <div class="col-12 col-md-4">
    <div class="bg-light p-3">
      <h2>Person anlegen</h2>
      <PersonForm @add-new-person="(newPerson) => addPersonToArray(newPerson)"></PersonForm>
      <h2>Aktionen</h2>
      <div class="d-flex gap-3">
        <button type="button" class="btn btn-danger" @click="removeLast">Letztes Element löschen
        </button>
        <button type="button" class="btn btn-danger" @click="removeAll">Alles löschen</button>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>