<script setup>
import PersonForm from "@/components/PersonForm.vue";
import Table from "@/components/Table.vue";
import EditDialoge from "@/components/EditDialoge.vue";

import {ref} from 'vue'
import {usePersonStore} from "@/stores/PersonStore";

const personStore = usePersonStore()

const persons = ref([])

const isDialogOpen = ref(false)

function deletePersonFromArray(index) {
  persons.value.splice(index, 1)
}

const currentPerson = ref(null);

const currentIndex = ref(null);

function editPersonFromArray(index) {

  currentPerson.value = persons.value[index];

  currentIndex.value = index;

  isDialogOpen.value = true;

}

function closeDialog() {
  isDialogOpen.value = false;
}

function changePerson(editedPerson) {

  persons.value.splice(currentIndex, 1, editedPerson)

  isDialogOpen.value = false;
}

</script>

<template>

  <main class="container">
    <h1 class="my-5">Übung: Personen Array</h1>
    <div class="row">

      <div class="col-12 col-md-8">
        <Table @delete-entry="(index) => deletePersonFromArray(index)"
               @edit-entry="(index) => editPersonFromArray(index)"
               :persons="personStore.persons"
        ></Table>
      </div>
    </div>
  </main>
  <EditDialoge @closeDialogWindow="closeDialog"
               v-if="isDialogOpen"
               :title="currentPerson?.firstName"
  >
    <person-form @edit-person = "(editedPerson) => changePerson(editedPerson)"
                 :person="currentPerson"></person-form>
    <!--    wird in unnamed slot eingefüllt; für unseren fall reicht uns 1 slot daher unnamed slot-->
    <!--    wenn du mehrere slots brauchst, -> named slots-->

  </EditDialoge>

</template>

<style scoped>

</style>