<script setup>
import {useAuthStore} from "@/stores/authStore";

const authStore = useAuthStore();

</script>

<template>
  <v-toolbar color="purple">
    <template v-slot:prepend>
      <div class="text-h5">Tight food store</div>
    </template>

    <v-divider
        class="ms-3"
        inset=""
        vertical=""
    ></v-divider>

    <v-toolbar-title>My Home</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-spacer></v-spacer>

    <v-toolbar-items>
      <v-divider vertical=""></v-divider>


      <v-btn
          v-if="authStore.isLoggedIn === true"
          variant="text" to="/login">Logout</v-btn>


      <div v-if="!authStore.isLoggedIn === false">
        <v-btn
            variant="text" to="/register">Register</v-btn>

      <v-divider vertical=""></v-divider>

        <v-btn
            variant="text" to="/login">Login</v-btn>
      </div>

      <v-btn prepend-icon="mdi-plus-box" to="/new-product" v-if="authStore.isAdmin">Produkt anlegen</v-btn>
      <template v-if="authStore.isLoggedIn">
        <v-btn prepend-icon="mdi-logout" @click="authStore.logout">Logout</v-btn>
      </template>
      <template v-else>
        <v-btn prepend-icon="mdi-login" to="/login">Login</v-btn>
        <v-btn to="/register">Registrieren</v-btn>
      </template>


    </v-toolbar-items>

    <v-divider vertical=""></v-divider>

    <v-app-bar-nav-icon class="ms-2"></v-app-bar-nav-icon>
  </v-toolbar>
</template>

<style scoped>

</style>